.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  width: 1140px;
  gap: 30px;
  display: grid;
  margin: auto;
  align-items: end;
  grid-template: "result content__details";
}

.result {
  width: 711px;
  grid-area: "result";
}